body {
	background-color: #BF1463;
}

#phone, #phone-container {
	width: 320px;
	min-width: 320px;
	height: 620px;
	min-height: 620px;
	background-color: #444;
	color: #FFF;
	margin: 0 auto;
	border: 1px solid #EEE;
	border-radius: 5px;
}

#phone {
	display: none;
}

#topBar {
	height: 60px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#title {
	height: 20px;
	padding: 1px 10px 0 10px;
	font-size: 12px;
	font-family: monospace;
}

#topBarContent {
	height: 40px;
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 10px;
}

#topBarContent #save {
	float: right;
}

#topBarContent img {
	width: 25px;
	height: 25px;
}

#topBarContent ul {
	margin: 0;
	list-style-type: none;
	padding: 0;
}

#create {
	width: 320px;
	margin-top: 100px;
	padding-left: 10px;
	padding-right: 10px;
}

#form_2 {
	width: 320px;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

ul li {
	display: inline;
}

form select {
	width: 300px;
	height: 50px;
	background-color: #444;
	color: #FFF;
}

form #box {
	height: 42px;
	width: 300px;
	border-bottom: 1px solid #DDD;
	margin-top: 10px;
}

#box #img {
	width: 25px;
	height: 25px;
	padding-top: 10px;
}

form select, form input {
	border-style: none;
}

form input {
	float: right;
	width: 250px;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #444;
	color: #FFF;
}

#list {
	overflow: auto;
	height: 500px;
}

#list img {
	width: 35px;
	height: 35px;
	margin-right: 10px;
	margin-top: 8px;  
	margin-left: -20px;
}

ul li #list_content {
	float: right;
	margin-left: -5px;
	width: 250px;
	min-width: 250px;
	max-width: 250px;
	height: 43px;
	min-height: 43px;
	max-height: 43px;
	padding-top: 5px;
	border-bottom: 0.5px solid #AAA;
}

#list #icon {
	border: 1px solid #FFF;
	border-radius: 25px 25px 25px 25px;
}

#list ul li {
	margin-left: ;

}